@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    width: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.spinner {
  display: flex;
  flex-direction: column;
  position: relative;
}
.button {
  background-color: coral;
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.spinner-text {
  margin-top: 10px;
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: none;
}
.rect {
  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  animation: moving 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: none;
}
.button:hover {
  background-color: grey;
}
.button:hover + .spinner > .rect,
.button:hover + .spinner > .spinner-text {
  display: block;
}
