* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header {
  display: flex;
  height: 3em;
  padding: 1em;
  background-color: #eee;

  align-items: center;
}
.fa-bars {
  font-size: 2em;
  padding: none;
}
button {
  padding: 0;
  border: none;
  cursor: pointer;
  margin: 0;
}
.nav-list {
  padding: 0;
  list-style-type: none;
  width: 20%;
}
.navigation {
  padding: 0.5em;
}
.nav-list-item {
  background-color: #808080;
  display: flex;
  height: 2em;
  margin: 0.5em;
}
.nav-list-link {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2em;
}

@media screen and (max-width: 600px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  button {
    display: none;
  }
}
