div {
  display: flex;
}
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: lowercase;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin: auto;
}
.nav {
  background-color: #ff7f50;
  height: 200px;
  text-align: center;
}
.list {
  background-color: #006400;
  height: 200px;
  text-align: center;
}
.news {
  background-color: #0ff;
  height: 200px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .prod-list {
    display: flex;
  }
  .list {
    width: 50%;
  }
  .nav {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  .main {
    display: flex;
  }
  .prod-list {
    flex-basis: 66em;
  }
  .news {
    flex-basis: 33em;
  }
}
